/* styles.css or your stylesheet file */

.details-container {
    width: 20%;
    margin: 30vh auto;
    background-color: rgb(233, 219, 29);
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .details-container strong {
    color: #333;
  }
  
  .details-container p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .details-container img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details-section {
    margin-top: 20px;
  }  